@import "../css/reset.css";
@import "../css/noto-sans.css";

/* root */
:root {
	--caption-color: #8b8b8b;
}
* {
	font-family: "Noto Sans";
	text-decoration: none;
}

body {
	font-family: "Noto Sans";
	background-color: #F5F5F5;
	font-size: medium;
}

/* component */
.card {
	background-color: white;
  box-shadow: 0px 3px 6px #00000022;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  transition: all ease 0.3s 0s;
}

.reactive:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: all ease 0.3s 0s;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.scroll-view-container {
  box-sizing: border-box;
  /* height: 700px; */
  height: calc(100vh - 200px);
  overflow-y: auto; /* 스크롤을 활성화합니다. */
  overflow-x: visible;
  padding: 0px 10px 0px 0px;
}

.sub-heading-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.icon {
  padding: 4px; 
}
.icon:hover {
  cursor: pointer;
  /* background-color: #BBBBBB; */
  transform: scale(1.05);
  border-radius: 12px;
}
/* form */
input, textarea{
  box-sizing: border-box;
  background-color: #EEEEEE;
  border: #DDDDDD solid 1px;
  font-size: medium;
  border-radius: 12px;
	height: 40px;
	padding: 0px 16px;
}

textarea {
  resize: none;
  padding: 16px;
}

label {
  font-size: smaller;
  color: var(--caption-color);
  margin: 0px 0px 4px 0px;
  margin-left: 4px;
}

button {
  padding: 8px;
  font-size: medium;
  border-radius: 10px;
  border: 0 solid;
  height: 40px;
}

button:hover {
  cursor: pointer;
  transform: scale(0.99);
}

select {
  background-color: white;
  border: #DDDDDD solid 1px;
  font-size: medium;
  border-radius: 24px;
	height: 40px;
	padding-left: 16px;
  width: 150px;
  /* padding: 10px; */
}
.primary-btn {
  background-color: black;
  color: white;
}
.primary-btn:hover{
  color: #CCCCCC;
}

.primary-outline-btn {
  border: black solid 1px;
  background-color: transparent;
}
.primary-outline-btn:hover {
  background-color: #00000022;
}
/* Text */
h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
}

h2 {
	font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

h3 {
	font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

h4 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
}

h5 {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 8px;
}

.caption {
  font-size: 14px;
  color: var(--caption-color);
  /* margin-bottom: 4px; */
}

input[type="radio"] {
  width: 20px;
  height: 20px;
}

input[type=file]::file-selector-button {
  justify-content: center;
  align-content: center;
  margin-top: 6px;
}
input.danger {
  border-color: crimson;
}

label.danger {
  color: crimson;
  margin-top: 4px;
}

.like-btn-unselected {
  fill: #00000000;
  stroke: #de3142;
  stroke-width: 5%;
}

.like-btn-selected {
  fill: #de3142;
}
